:root {
    --primary: #ffffff;
    --secondary: #f5f5f5;
    --tertiary:#766d6d;
    --tittle: #242424;
    --sales: #e21e04;
    --logo: #008c2e;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    border: none;
    outline: none;
    color: var(--tertiary);   
}


header {
    width: 100%;
}

body {
    background-color: var(--primary);
    width: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}



/* HEADER */

.nav-one {   
    height: 55px;
    width: 100%;
    display: flex;
    justify-content:left;
    align-items: center;
    background-color: var(--secondary);
    position: fixed;
}

.logo {
    height: 40px;
    width: auto;
    padding: 2px 10px;
}

#search-form {
    border: 1px solid #dfdada;
    border-radius: 5px;
    background-color: #ffffff;
    padding: 7px 0px 7px 14px;
    width: 350px;
    height: 34px;
    color: var(--font);
    font-size: 16px;    
}

#list-one {
    display: flex;
    flex-wrap: wrap;
    font-size: 14px;
    letter-spacing: 1px;
    padding: 1em;
    gap: 2em;
}


#list-one li:last-child {
    margin-left: 7em;
}

.cart-icon img {
    width: 50px;
    height: 50px;
    margin-left: 5px;
    /* margin: 0 2px 0 55px; */
}

.nav-two {
    width: auto;
    padding: 4em 1em 1em;
    display: flex;
    justify-content: left;
    align-items: self-end;
}

.nav-two ul {
    display: flex;
    gap: 1.5em;
    font-size: 13px;
    letter-spacing: 0.5px;
}

.nav-two ul li:last-child {
    margin-left: 70em;
}



header h1 {
    color: var(--tittle);
    font-weight: 500;
    text-transform: uppercase;
    font-size: 21px;
    display: flex;
    justify-content: center;
}

.nav-three {
    width: auto;
    padding: 2em;
    display: flex;
    justify-content:left;
    align-items: self-end;
}

.nav-three ul {
    display: flex;
    gap: 1.5em;
    letter-spacing: 0.5px;
}


.nav-three > ul > li {
    border: 1px solid #c5bfbf;
    border-radius: 4px;
    padding: 2px 1em;
    
}
.nav-three > ul >li:first-child {
    border: 1.5px solid var(--logo);
}

.nav-three > ul >li a:first-child {
    color: var(--logo);
}


.nav-three > button {
    border: none;
    background-color: transparent;
    font-size: 15px;
    margin-left: 35em;
}

/* -------------     MAIN         ------------------ */


h3 {
    color: var(--tittle);
    text-transform: uppercase;
    font-size: 27px;
    font-weight:600;
    justify-content: center;
    text-align: center;
    padding: 0.5em;
}


#h3-text {
    color: #000000;
    text-align: center;
    padding: 0.5px 12em;
}

/* --------------------GRID------------------------------- */

.grid-container > ul{
    display: grid;    
    grid-template-columns: minmax(0,1fr) minmax(0,1fr) minmax(0,1fr)  minmax(0,1fr);
    gap: 1rem;
    padding: 1rem;
    margin-top: 2em;
    align-content: space-around;
}

.grid-item {
    border: 1px solid var(--secondary);
}

.img-grid {
    height: auto;
    width: 100%;
    object-fit: cover;
    transition: all 0.3s ease-in-out;
}

.grid-item:hover {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.grid-container figcaption {
    padding: 1em;
}

.grid-container figcaption h2 {
    font-size: 13px;
    font-weight: 700;
    margin-bottom: 1em;
}

.grid-container figcaption a {
    font-size: 13px;
    font-weight: 400;
    text-align: left;
    margin-bottom: 1em;
}

.grid-container figcaption div {
    margin-top: 1em;
}

.grid-container figcaption div > p:first-child{
    font-weight: 700;
    font-size: 18px;
}

.grid-container figcaption div > p:last-child{
    font-size: 13px;
    margin-top: 1em;
}

main form {
    padding: 2em;
    margin: 1em 1em 5em 1em;
    background-color: #F5F2ED;
    text-align: center;
}

main form > h4 {
    padding: 2em 20em 0 24em;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: var(--tittle);
}

main form > div {
    margin: 3em 0 1em 0;
}

main form > div > input {
    padding: 18px 16px;
    width: 40%;
    border: 1px solid #e1e1e1;
    border-radius: 2px;
    font-size: 16px;
    font-weight:100;
}


#button-input {
    padding: 18px 16px;
    width: 15%;
    color: var(--primary);
    background-color: var(--tittle);
    border-radius: 2px;
    font-size: 15px;
    font-weight:500;
}


/* ----------------         FOOTER  ---------------------------------------- */

footer {
    padding: 3em 1em;
    border-top: 1px solid #ddd6d6;
}

footer div ul {
    display: flex;
    justify-content: space-around;
    padding-bottom: 3em;
    font-weight: 700;
}

footer div ul li {
    color: #e21e04;
}

footer article {
    display: flex;
    justify-content: space-around;
}


footer section > span {
    font-weight: 600;
    color: var(--tittle);
}

footer section > ul {
    padding-top: 1em;
    line-height: 1.5em;
}
        
    
/* MEDIAS QUERY */
        /* HEADER */


@media screen and (min-width: 300px) and (max-width: 1000px) {

    #list-one {
        display: none;
    }

    section h1 {
        text-align: center;
        align-items: center;
        }
    
    #title-h3 h3{
        position: absolute;
        top: 10em;
        text-align: center;

    }
    
    #title-h3 p {
    padding: 10em 0 0 8em;        
    text-align: center;
    line-height: 1.5em;
    }

    .nav-two > button {
        display: none;
    
    }
}

